
@font-face {
font-family: 'IRANSansWeb_Light';
src:url('../fonts/IRANSansWeb_Light.eot?#') format('eot'),
    url('../fonts/IRANSansWeb_Light.woff') format('woff'),
    url('../fonts/IRANSansWeb_Light.ttf') format('truetype');
}
.afra-f-6{font-size: 6px;}
.afra-f-7{font-size: 7px;}
.afra-f-8{font-size: 8px;}
.afra-f-9{font-size: 9px;}
.afra-f-10{font-size: 10px;}
.afra-f-11{font-size: 11px;}
.afra-f-12{font-size: 12px;}
.afra-f-13{font-size: 13px;}
.afra-f-14{font-size: 14px;}
.afra-f-15{font-size: 15px;}
.afra-f-16{font-size: 16px;}
.afra-f-17{font-size: 17px;}
.afra-f-18{font-size: 18px;}
.afra-f-19{font-size: 19px;}
.afra-f-20{font-size: 20px;}
.afra-f-21{font-size: 21px;}
.afra-f-22{font-size: 22px;}
.afra-f-23{font-size: 23px;}

