
.afra-white{color: #ffffff;}
.afra-white-b{background-color: #ffffff}
.m-footer-b{ background-color: #445268 ; }
.m-footer-b2{ background-color: #323c4c ; }
.m-icon{ color: #dea84e ; }
.m-main{ color: #002157 ; }
.m-main2{ color:  #004a84 ; }
.m-main2-b{ background-color:  #004a84 ; }
.m-main-b{ background-color:#002157 ; }
.farzin{background: linear-gradient(270deg, #445268   , #94b2e2);color: #ffffff;text-align: center ;font-size: 18px;}
.farzin-two{background: linear-gradient(270deg, #34a853    ,#28813F);color: #ffffff;text-align: center ;font-size: 18px;}

/* ********************************************************************************************************************** */
.afra-red-google{color: #ea4335    ;}
.afra-red-google-b{background-color:  #ea4335    ;}
.afra-blue-google{color: #4285f4       ;}
.afra-blue-google-b{background-color:  #4285f4       ;}
.afra-green-google{color: #34a853        ;}
.afra-green-google-b{background-color:  #34a853        ;}
.afra-yellow-google{color: #fbbc05        ;}
.afra-yellow-google-b{background-color:  #fbbc05        ;}
.afra-pen{color: #6c6c6c        ;}
.afra-pen-f{color: #00415d         ;}
.afra-pen-f-b{background-color: #00415d         ;}
.afra-wood{color:     #C5772D     ;}
.afra-background{background-color:     #F0F5FB     ;}

/* ***************rEd*********************** */
.afra-red{color:   #F44336    ;}
.afra-red-b{background-color:   #F44336    ;}

/* ***************green*********************** */
.afra-green{color:  #4caF50     ;}
.afra-green-b{background-color:  #4caF50     ;}
/* **************afra-footer********************** */
.afra-footer{ color: #E1E1E1}
.afra-footer-b{ background-color: #E1E1E1}
.afra-footer-two{ color: #646464 }
.afra-footer-two-b{ background-color: #646464 }
.afra-indigo10{color:  #1a237E    ;}   

